.recieve.done {
    color: forestgreen;
}

.col-sm-12.col-md-10.boxshadowdiv {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 15%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
@media(min-width:768px){
    div.currentrate {
        margin-top: 35%;
        padding-top: 40px;
        color: darkslategray;
        text-align: left;
    }
}
@media(max-width:767px){
    div.currentrate {
        margin-top: 10%;
        padding-top: 5px;
        color: darkslategray;
        text-align: left;
    }
}

.popmodaldiv .montBold {
    margin-top: 20px;
    margin-bottom: 25px;
}

.col-sm-12.nopad.popmodalradio {
    margin-top: 15px;
    margin-bottom: 15px;
}

.divsolddescription {
    margin-top: 5%;
    color: slategray;
}
.col-sm-9.col-md-9.myactivitypanel {
    margin-top: 6%;
}

/* Mobile View */
@media(max-width:767px){
    .container-fluid{ 
        padding-right: 0.2px;
        padding-left: 0.2px;
    }
    .col-sm-12.col-md-10.boxshadowdiv{/*Payment method div*/
        padding-top: 2%;
    }
    .col-sm-12{
        padding-left: 1px;
    }
    .col-sm-6.col-md-6.col-sm-push-6{
        padding-left: 1px;
    }
    


    .col-xs-11 { /*XMRC*/
        width: 100%;
        float: right;
    }
    .popmodaldiv .montBold { /*for XMRC div*/
        margin-top: -35px;
    }


    .col-sm-6.col-md-6.col-sm-pull-6.myactivitypanel h5.montBold { /*Most Recent activities*/
        text-align: center;
        margin-top: 6%;
    }

    .col-sm-6.col-md-6.col-sm-pull-6.myactivitypanel{
        padding-left: 0px;
        padding-right: 10px;
    }

    h3.montBold.mass {
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .col-md-12.graph {
        padding-left: 1px;
        padding-right: 1px;
        margin-top: 6px;
        margin-bottom: 5px;
    }
}

    .montBold i.fa.fa-registered {
        font-size: 10px;
    }

/* event */
.christmastree{
    /* background: url('../../assets/img/christmas.jpg'); */
}

h4.maintext {
    text-align: center;
    line-height: 1.4;
}
p.offertxt {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 6%;
}

span.bonus.done {
    color: forestgreen;
}

p.stmt1 {
    text-align: justify;
}