<p>
  <span style="font-size: small;">  
      <br>
      . General terms
      . The following Terms and Conditions (“Terms”) govern the Main
      Sale of cryptographic tokens – MASS CRYP Tokens (“MASS”) –
      that are required to transact on the MASS CRYP software platform
      described in MASS CRYP Whitepaper (“MASS CRYP Platform”) to
      Users (“Users” collectively, and “User” individually).
      . The information contained in the MASS CRYP Whitepaper and on
      MASS CRYP website is of descriptive nature only, are not binding
      and do not – unless explicitly referred to herein – form part of the
      Terms or the agreement between the parties.
      . By participating in the Main Sale of MASS, the User expressly
      acknowledges and represents that he/she has carefully reviewed
      the Terms and fully understand the risks, costs, and benefits of
      purchasing MASS and agrees to be bound by the Terms. As set
      forth below, the User further represents and warrants that, to the
      extent permitted by law, he/she is authorized to purchase MASS in
      his/her relevant jurisdiction, is of a legal age to be bound by these
      Terms, and will not hold MASS CRYP Holding OÜ (hereinafter
      MASS CRYP), its parent and affiliates, and the officers, directors,
      agents, joint ventures, employees and suppliers of MASS CRYP or
      their parent or affiliates, now or in the future and any other member
      of the MASS CRYP Team (collectively the “MASS CRYP”) liable for
      any losses or any special, incidental, or consequential damages
      arising out of, or in any way connected to the Main Sale of MASS.
      . The User understands and accepts that while the individuals and
      entities, including MASS CRYP, incorporated under the law of
      Estonia, assigned to this task will make reasonable efforts to
      develop and complete the MASS CRYP Platform and MASS CRYPProject, it is possible that such development may fail and User’s
      MASS may become useless and/or valueless due to technical,
      commercial, regulatory or any other reasons (see also Chapter 4
      regarding Risks).
      . The User is aware of the risk that even if all or parts of the MASS
      CRYP Platform are successfully developed and released in full or
      in parts, due to a lack of public interest, the MASS CRYP Project
      could be fully or partially abandoned, remain commercially
      unsuccessful or shut down for lack of interest, regulatory or other
      reasons. The User therefore understands and accepts that
      purchasing MASS carries significant financial, regulatory and/or
      reputational risks (including the complete loss of value of
      purchased MASS, if any, and attributed features of the MASS
      CRYP Project).
      . This document does not constitute a prospectus of any sort, is not
      a solicitation for investment and does not pertain in any way to an
      initial public offering or a share/equity offering and does not pertain
      in any way to an offering of securities in any jurisdiction.
      . Only individuals, entities, or companies that have significant
      experience with, and understanding of the usage and intricacies of
      cryptographic tokens, like bitcoin (“BTC”), and blockchain-based
      software systems should participate in the Main Sale of MASS.
      Users should have functional understanding of storage and
      transmission mechanisms associated with cryptographic tokens.
      While the MASS CRYP Team will be available to assist Users of
      MASS during and after the Token Sale, MASS CRYP will not be
      responsible for lost ETH, any other cryptocurrency or MASS
      resulting from actions taken by, or committed by Users.
      . From United States of America only accredited investors are
      accepted. CREATION AND SALE OF MASS
      . No Ownership, Revenue or Governance Rights
      User understands and accepts that MASS does not represent or constitute
      any ownership right or stake, share or security or equivalent rights nor any
      right to receive future revenues, shares or any other form of participation or
      governance right in or relating to the MASS CRYP Project and/or MASS.
      Ownership of MASS carries no rights, express or implied, other than the right
      to participate in the MASS CRYP Project if and to the extent the MASS CRYP
      Project has been successfully completed and launched. By receiving MASS,
      no form of partnership, joint venture or any similar relationship between the
      Users and MASS CRYP and/or other individuals or entities involved with the
      setting up of the MASS CRYP Project is created.
      . Main sale period
      . The public Main Sale of MASS will begin on 6 November 2017 at
      17:00 UTC. The Main Sale period will run for 30 days and will end
      on 5 December 2017 at 16:59:59 UTC or when the total value of
      purchase orders of MASS placed reaches the value of 32 million
      USD; whichever condition is met sooner.
      . MASS CRYP reserves the right to change the date when the Main
      Sale will begin and further reserves the right to extend the sale
      period for any reason, including the unavailability of the website
      www.masscryptoken.io or other unforeseen security or procedural
      issues. Though it does not currently anticipate doing so, MASSCRYP also reserves the right to shorten the Main Sale period for
      any reason.
      . MASS value and cap
      . The price will be set in USD for the Main sale period at 0.1 USD for
      1 MASS.
      . MASS CRYP shall stop accepting new purchase orders of MASS
      once total value of purchase orders of MASS reaches 32 million
      USD. However, the actual amount of MASS sold in the Main Sale
      may be different from the aforementioned value due to the fact that
      transactions may clear or be canceled after the end of the Main
      Sale.
      . Disclosure of Transactions
      In the spirit of openness and to enable Users to have as much information as
      possible to guide their decision making process, MASS CRYP will disclose in
      real time the total number of MASS sold in order to enable the User to
      develop an understanding of the size of the existing MASS pool at the time of
      submitting their MASS purchase order.
      .
      Sale on MASS CRYP Website
      MASS CRYP will maintain an interface, which can be used to purchase
      MASS. The interface will be available at www.masscryptoken.io Instructions
      for purchasing MASS using the interface will be embedded and available for
      review on the MASS CRYP website during the Main Sale period. Failure tofollow these instructions may limit, delay, or prevent a User from purchasing
      MASS. Any questions about these instructions should be directed
      to hello@cashaa.com.
      .
      Obligation to Determine if User Can Purchase MASS in
      User’s Jurisdiction and Pay Applicable Taxes
      The Main Sale constitutes a sale of cryptographic tokens (MASS) for
      obtaining a right to use future software services provided through the MASS
      CRYP Platform under Estonian law. This service is going to be provided by
      MASS CRYP Holding OÜ, an Estonian entity, operating under Estonian law. It
      is the responsibility of each User of MASS to determine if the User can legally
      purchase MASS in the User’s jurisdiction. In MASSe any taxes have to be
      paid on the purchase of MASS in the jurisdiction where the User is located,
      the User shall undertake to pay such taxes.
      . KYC
      . During the Token Sale MASS CRYP shall conduct Know Your
      Customer („KYC“) procedure for all Users purchasing MASS.
      MASS Tokens will be distributed only to the participants who have
      passed the KYC. Users who pass the KYC become KYC verified.
      . Users purchasing MASS up to 1500 USD need to verify  their e-
      mail address and mobile  number as part of their KYC process.
      . Users purchasing MASS more than 1500 USD need to verify their
      e-mail address, their mobile phone number, their identity and theiraddreess. Additionally, legal persons need to submit the extract
      from company registry and their owner`s structure, revealing the
      ultimate owners. KYC procedure needs to be conducted for every
      major ultimate owner. .
      . All fully compliant KYC documents have to be submitted by
      5.01.2018 at 23.59 at the latest.
      . Users who submit all the required documents to the KYC process
      before or up to 7 days after purchase of MASS and become KYC
      verified, will be rewarded with additional 2.5% of MASS tokens to
      promote regulatory compliance of cryptocurrencies.
      . Funds of users who fail to submit KYC documents on time or
      whose submitted documents are not satisfactory will be returned
      within 90 days from the end of the Main Sale.
      . Acceptance of the Terms and Representations and
      Warranties of the User
      By placing a purchase order of MASS, the User:
      .
      .
      .
      .
      Consents and agrees to the Terms;
      Represents and warrants that the User is legally permitted to
      purchase MASS in the User’s jurisdiction to have a possibility to
      obtain service of Estonian origin;
      Represents and warrants that the User is of a sufficient age to
      legally purchase MASS or has received permission from a legal
      guardian who has reviewed and agreed to these Terms;
      Represents and warrants that the User will take sole responsibility
      for any restrictions and risks associated with the purchase of
      MASS as set forth below;.
      .
      .
      .
      .
      .
      Represents and warrants that User is not purchasing MASS for the
      purpose of speculative investment;
      Represents and warrants that the User is purchasing MASS for the
      use of the MASS CRYP Platform, or to facilitate development,
      testing, deployment and operation of applications using the MASS
      CRYP Platform;
      Represents and warrants that the User has an understanding of
      the usage and intricacies of cryptographic tokens;
      Represents and warrants that the User is not a citizen or resident
      of a country, whose legislation conflicts with the present allocation
      of MASS and/or the MASS CRYP Project in general;
      Represents and warrants that the User is not a resident of the
      United States of America or he/she is accredited investor.
      Receipt of MASS and User Email
      As part of the sale process and in order to purchase MASS, the User will
      need to provide an email address (the “User Email”). The User Email will be
      used to email the User a notice of the creation of User’s account on the
      MASS CRYP token platform service where the purchased MASS shall be
      delivered. By purchasing MASS and to the extent permitted by applicable law,
      the User agrees not to hold any members of the MASS CRYP liable for any
      losses or any special, incidental, or consequential damages arising out of or
      in any way connected to, User’s failure to access their account.
      .
      Process of Main Sale of MASS
      MASS will be created and delivered to the User through the following
      process:. MASS tokens are sold to User in Main sale. The User receives a
      token  allocation against his or her Bitcoin or Ethereum payment
      converted to the USD using the exchange rate shown to the User
      on the payment screen. The allocation is expressed as the number
      of MASS tokens. If the User does several payments the User may
      or may not get a different exchange rate for subsequent payments
      and receive MASS at a bonus level as the original payment.
      . MASS CRYP creates the tokens after the token sale has ended.
      MASS CRYP aims to distribute MASS tokens within the six weeks
      after the token sale has ended. In the distribution process MASS
      CRYP sends the tokens to the Ethereum address given by the
      User. MASS CRYP maintains the right to extend this period for
      individual Users in the MASSe of payment issues or KYC issues
      as described below.
      . In the MASSe of User has received a wrong allocation that does
      not match terms described here, MASS CRYP maintains the right
      to change the user allocation and communicate the new allocation
      to the user and distribute different amount of MASS tokens.
      Reasons for such correction may include, but are not limited to
      payments issues as described below, technical issues  like
      blockchain forks or blockchain congestion. In the MASSe of such
      issues MASS CRYP maintain the right to apply an exchange rate
      and bonus that is the best fit to match the actual payment received
      time.
      MASS CRYP maintains  the right to pause or extend the Main sale
      during the Main sale period. The reasons for such a pause may
      include, but are not limited to, blockchain forks, attacks against
      website or malicious behavior on the behalf of Users. In such an
      event MASS CRYP maintains right to adjust the bonus token
      periods to match the new duration of Main sale after unpausing it.
      .
      .
      Users may expire or cause payment issues including, but not
      limited to underpayments, overpayments, late payments, cap
      overflows, failed identity verifications, failed anti-money launderingchecks or malicious payment activity. In the MASSe of such
      payment issues MASS CRYP maintains right not to distribute
      tokens to User. MASS CRYP aims to refund such payments by
      31st January 2018. MASS CRYP maintains the right to extend this
      period for individual Users if needed.
      . In the MASSe of a blockchain fork, MASS CRYP maintains the
      right to decide which blockchain to follow.
      . No Refund
      All purchases of MASS are final and non-refundable. By purchasing MASS,
      the User acknowledges that he/she has no right to request a refund for any
      reason, and that the User will not receive money or other compensation for
      any MASS that remains unused.
      .
      Rejected Transactions
      MASS CRYP shall maintain the right to reject any transaction of purchase of
      MASS in MASSe the User has not complied with the Terms or has not
      transferred necessary funds in accepted currency to purchase requested
      amount of MASS within 24 hours after placing an order to purchase MASS. In
      MASSe of rejection of a transaction, MASS CRYP shall have the right to
      freely sell or burn MASS created for such transactions to other Users.
      .
      MASS CRYP will not Purchase MASS During Token SaleMASS CRYP warrants that it will not purchase MASS in its own Token Sale.
      Furthermore, MASS CRYP warrants that it will not acquire MASS from any
      third party during the period of the Token Sale of MASS.
      . MASS CRYP Project Execution
      . The User understands and accepts that for the purpose of the
      development and execution of the MASS CRYP Project, MASS
      CRYP receives the full amount of funds transferred during the
      Token Sale period. This amount covers expenses, charges and
      other costs that may arise by MASS CRYP and/or its
      subcontractors as part of the development and execution of the
      MASS CRYP Project. It remains at MASS CRYP’s sole discretion
      to decide how to allocate the funds in order to develop and execute
      the MASS CRYP Project. MASS CRYP has the right to engage
      subcontractors to perform the entire or partial development and
      execution of the MASS CRYP Project. The scope of the
      development work will be triggered by the amount of funds
      received during the Token Sale.
      . The User understands and accepts that the User may not have
      any expectation of influence over governance on the MASS CRYP
      Project.
      . The User understands and accepts that the MASS CRYP Project
      will need to go through substantial development works as part of
      which it may become the subject to significant conceptual,
      technical and commercial changes before release.
      . MASS CRYP Token Platform
      The MASS CRYP Token Platform as well as the smart contract has been
      programmed according to the current state of the art. However, the Userunderstands and accepts that smart contract technology is still in an early
      development stage and its application is of experimental nature, which carries
      significant operational, technological, financial, regulatory and reputational
      risks.
      .
      Risks
      The purchase of MASS carries with it significant risk. Prior to purchasing
      MASS, the User should carefully consider the below risks and, to the extent
      necessary, consult a lawyer, accountant, and/or tax professionals prior to
      determining whether to purchase MASS. In particular, but not concluding, the
      User understands the inherent risks listed hereinafter:
      .
      Risk of software weaknesses:  The User understands and
      accepts that smart contract system concept; the underlying
      software application and software platform (i.e. the Ethereum
      blockchain) is still in an early development stage and unproven.
      Thus there is no warranty that the process of creating and
      distributing MASS will be uninterrupted or error-free and there is an
      inherent risk that the software could contain weaknesses,
      vulnerabilities or bugs causing, inter alia, the complete loss of
      funds and/or MASS.
      .
      Regulatory risk:  The User understands and accepts that the
      blockchain technology allows new forms of interaction and that it is
      possible that certain jurisdictions will apply existing regulations on
      or introduce new regulations addressing blockchain technology
      based applications, which may be contrary to the current setup of
      the smart contract system and MASS CRYP Platform. This may,
      inter alia, result in substantial modifications of the smart contract
      system and/or the MASS CRYP Project, including its termination
      and the loss of MASS for the User..
      Risk of abandonment / lack of success:  The User
      understands and accepts that the creation of the MASS and the
      development of the MASS CRYP Project may be abandoned for a
      number of reasons, including lack of interest from the public, lack
      of funding, lack of commercial success or prospects (e.g. caused
      by competing projects). The User therefore understands that there
      is no assurance that, even if the MASS CRYP Project is partially or
      fully developed and launched, the User will receive any benefits
      through the MASS held by him/her.
      .
      Risk associated with other applications:  The User
      understands and accepts that the MASS CRYP Project may give
      rise to other alternative projects, promoted by unaffiliated third
      parties, under which MASS will have no intrinsic value.
              
      .
      Risk of Losing Access to Tokens Due to Loss of Private
      Key(s), Custodial Error or your Error:  A private key, or a
      combination of private keys, is necessary to control and dispose of
      Tokens stored in your digital wallet or vault. Accordingly, loss of
      requisite private key(s) associated with you digital wallet or vault
      storing Tokens will result in loss of such Tokens. Moreover, any
      third party that gains access to such private key(s), including by
      gaining access to login credentials of a hosted wallet service you
      use, may be able to misappropriate your Tokens. Any errors or
      malfunctions caused by or otherwise related to the digital wallet or
      vault you choose to receive and store Tokens, including your own
      failure to properly maintain or use such digital wallet or vault, may
      also result in the loss of your Tokens. Additionally, your failure to
      precisely follow the procedures set forth in for buying and receiving
      Tokens, including, for instance, if you provide an incorrect Token
      Receipt Address, or provides an address that is not EIP-20 (former
      ERC-20) compatible, may result in the loss of your Tokens..
      Risk of theft:  The User understands and accepts that the smart
      contract system concept, the underlying software application and
      software platform (i.e. the Ethereum blockchain) may be exposed
      to attacks by hackers or other individuals that could result in theft
      or loss of MASS, BTC or ETH, impacting the ability to develop the
      MASS CRYP Project.
      .
      Risk of Ethereum mining attacks:  The User understands and
      accepts that, as with other cryptocurrencies, the blockchain used
      for the smart contract system is susceptible to mining attacks,
      including but not limited to double-spend attacks, majority mining
      power attacks, “selfish-mining” attacks, and race condition attacks.
      Any successful attacks present a risk to the smart contract system,
      expected proper execution and sequencing of MASS transactions,
      and expected proper execution and sequencing of contract
      computations.
      .
      Risk of incompatible Wallet service:  The User understands
      and accepts, that the wallet or wallet service provider used for
      purchasing MASS, has to be technically compatible with the
      MASS. Failure to assure this may have the result that User will not
      gain access to his/her MASS.
      .
      Risks related to Amendments:  Amendments to the MASS
      CRYP Platform’s protocols and software, if accepted and
      authorised by the MASS CRYP Platform’s community, could
      adversely affect MASS. The MASS CRYP Platform governs the
      peer-to-peer interactions between computers connected to the
      MASS CRYP Platform. To the extent that a significant majority of
      the Users on the MASS CRYP Platform install software
      upgrade(s), the MASS CRYP Platform would be subject to new
      protocols and software that may adversely affect MASS. If more
      than a significant majority of the Users on the MASS CRYP
      Platform install such software upgrade(s), the MASS CRYPPlatform could “fork.” A failure to properly monitor and upgrade the
      protocol could damage the MASS CRYP Platform and MASS.
      .
      Risks related to intellectual property rights
      claims:  Intellectual property rights claims may adversely affect the
      operation of the MASS CRYP Platform. Third parties may assert
      intellectual property claims relating to the holding and transfer of
      digital assets and their source code. Regardless of the merit of any
      intellectual property or other legal action, any threatened action
      that reduces confidence in the MASS CRYP Platform’s long-term
      viability or the ability of end-Users to hold and transfer MASS may
      adversely affect the value of MASS. Additionally, a meritorious
      intellectual property claim could prevent MASS CRYP and/or other
      end-Users from accessing the MASS CRYP Platform or holding or
      transferring their MASS.
      . No Liability
      . The User bears the sole responsibility to determine if the purchase,
      ownership or use of MASS, the potential appreciation or
      depreciation in the value of MASS over time (if any), the allocation
      of MASS and/or any other action or transaction related to the
      MASS CRYP Project have tax implications for him/her. In MASSe
      of any tax obligations, the User shall be under obligation to pay all
      and any applicable tax. By purchasing, holding or using MASS the
      User agrees not to hold any third party (including developers,
      auditors, contractors or founders of MASS CRYP) liable for any tax
      liability associated with or arising from the creation, ownership or
      use of MASS or any other action or transaction related to the
      MASS CRYP Project.
      . The User acknowledges and agrees that, to the fullest extent
      permitted by any applicable law, the User will not hold any
      developers, advisors, auditors contractors or founders of MASS
      CRYP liable for any damages or injury whatsoever caused by or
      related to the use of or the inability to use MASS or the MASS
      CRYP Platform under any cause or action whatsoever of any kindin any jurisdiction, including, without limitation, actions for breach
      of warranty, breach of contract or tort (including negligence) and
      that developers, auditors, advisors, contractors or founders of
      MASS CRYP Project shall not be liable for any indirect, incidental,
      special, exemplary or consequential damages, including for loss of
      profits, goodwill or data, in any way whatsoever arising out of the
      use of, or the inability to use of the MASS CRYP Platform and/or
      MASS.
      . The User further specifically acknowledges that developers,
      advisors, auditors, contractors or founders of the MASS CRYP
      Project are not liable, and the User agrees not to seek to hold them
      liable, for the conduct of third parties, including other creators of
      MASS, and that the risk of purchasing, holding and using MASS
      rests entirely with the User.
      . By purchasing, holding or using MASS, and to the extent permitted
      by law, the User agrees not to hold any third party (including
      developers, auditors, advisors, contractors or founders) liable for
      any regulatory implications or liability associated with or arising
      from the purchase, ownership or use of MASS or any other action
      or transaction related to the MASS CRYP Project.
      . Privacy
      Although MASS CRYP requires Users to provide an email address and other
      information, MASS CRYP will not publish any identifying information related
      Users without the prior written consent of the User unless required to do so
      under applicable law. MASS CRYP may request Users from time to time to
      provide additional information. The User undertakes to provide such
      information. Users may be contacted via email by MASS CRYP regarding
      purchase or delivery of MASS and the use of the MASS CRYP Platform..
      Disclaimer of Warranties
      THE USER EXPRESSLY AGREES THAT THE USER IS PURCHASING
      MASS AT THE USER’S SOLE RISK AND THAT MASS IS PROVIDED ON AN
      "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS
      OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF
      TITLE OR IMPLIED WARRANTIES, MERCHANTABILITY OR FITNESS FOR
      A PARTICULAR PURPOSE (EXCEPT ONLY TO THE EXTENT PROHIBITED
      UNDER APPLICABLE LAW WITH ANY LEGALLY REQUIRED WARRANTY
      PERIOD TO THE SHORTER OF THIRTY DAYS FROM FIRST USE OR THE
      MINIMUM PERIOD REQUIRED). WITHOUT LIMITING THE FOREGOING,
      NONE OF THE MASS CRYP PARTIES WARRANT THAT THE PROCESS
      OF PURCHASING MASS WILL BE UNINTERRUPTED OR ERROR-FREE.
      .
      Limitations Waiver of Liability
      THE USER ACKNOWLEDGES AND AGREES THAT, TO THE FULLEST
      EXTENT PERMITTED BY ANY APPLICABLE LAW, THE DISCLAIMERS OF
      LIABILITY CONTAINED HEREIN APPLY TO ANY AND ALL DAMAGES OR
      INJURY WHATSOEVER CAUSED BY OR RELATED TO USE OF OR
      INABILITY TO USE MASS OR THE MASS CRYP PLATFORM UNDER ANY
      CAUSE OR ACTION WHATSOEVER OF ANY KIND IN ANY JURISDICTION,
      INCLUDING, WITHOUT LIMITATION, ACTIONS FOR BREACH OF
      WARRANTY, BREACH OF CONTRACT OR TORT (INCLUDING
      NEGLIGENCE) AND THAT NONE OF THE MASS CRYP PARTIES SHALLBE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY OR
      CONSEQUENTIAL DAMAGES, INCLUDING FOR LOSS OF PROFITS,
      GOODWILL OR DATA, IN ANY WAY WHATSOEVER ARISING OUT OF THE
      USE OF, OR INABILITY TO USE, OR PURCHASE OF, OR INABILITY TO
      PURCHASE, MASS. THE USER FURTHER SPECIFICALLY
      ACKNOWLEDGES THAT MASS CRYP PARTIES ARE NOT LIABLE FOR
      THE CONDUCT OF THIRD PARTIES, INCLUDING OTHER USERS OF
      MASS, AND THAT THE RISK OF PURCHASING AND USING MASS RESTS
      ENTIRELY WITH THE USER. TO THE EXTENT PERMISSIBLE UNDER
      APPLICABLE LAWS, UNDER NO CIRCUMSTANCES WILL ANY OF THE
      MASS CRYP PARTIES BE LIABLE TO ANY USER FOR MORE THAN THE
      AMOUNT THE USER HAVE PAID TO MASS CRYP FOR THE PURCHASE
      OF MASS. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF
      CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF
      LIABILITY FOR CERTAIN TYPES OF DAMAGES. THEREFORE, SOME OF
      THE ABOVE LIMITATIONS IN THIS SECTION AND ELSEWHERE IN THE
      TERMS MAY NOT APPLY TO A USER.
      . Dispute Resolution
      . MASS CRYP and the User agree to make good faith efforts to
      resolve any dispute, controversy or claim arising between them
      relating to this Main Sale and their respective rights and obligations
      hereunder arising under these Terms.
      . Terms are governed by the laws of the Republic of Estonia.. Dispute settlement will be conducted in accordance with the
      Estonian legislation and applicable court will be Harju Maakohus
      situated in Tallinn, Republic of Estonia.
      . Force Majeure
      .
      .
      .
      .
      .
      .
      .
      . MASS CRYP is not liable for failure to perform caused by:
      unavoidable MASSualty;
      delays in delivery of materials;
      embargoes;
      government orders;
      acts of civil or military authorities;
      acts by common carriers;
      emergency conditions (including weather conditions), or any
      similar unforeseen event that renders performance commercially
      implausible.
      . If an event of force majeure occurs, the party injured by the other’s
      inability to perform may elect to suspend the Agreement, in whole
      or in part, for the duration of the force majeure circumstances. The
      party experiencing force majeure circumstances shall cooperate
      with and assist the injured party in all reasonable ways to minimize
      the impact of force majeure on the injured party.
      . Complete Agreement
      These Terms set forth the entire understanding between each User and
      MASS CRYP with respect to the sale and use of MASS. For facts relating to
      the sale and use of MASS, the User agrees to rely only on the Terms and
      understands that the Terms alone govern the sale and use of MASS and
      supersede any public statements about the Main Sale made by third parties
      or by MASS CRYP or individuals associated with any MASS CRYP Parties,
      past and present and during the Main Sale..
      Severability
      The User and MASS CRYP agree that if any portion of these Terms is found
      illegal or unenforceable, in whole or in part, such provision shall, as to such
      jurisdiction, be ineffective solely to the extent of such determination of
      invalidity or unenforceability without affecting the validity or enforceability
      thereof in any other manner or jurisdiction and without affecting the remaining
      provisions of the Terms, which shall continue to be in full force and effect.
      .
      No Waiver
      The failure of MASS CRYP to require or enforce strict performance by the
      User of any provision of these Terms or MASS CRYP’s failure to exercise any
      right under these agreements shall not be construed as a waiver or
      relinquishment of MASS CRYP's right to assert or rely upon any such
      provision or right in that or any other instance. The express waiver by MASS
      CRYP of any provision, condition, or requirement of these Terms shall not
      constitute a waiver of any future obligation to comply with such provision,
      condition or requirement. Except as expressly and specifically set forth in this
      these Terms, no representations, statements, consents, waivers, or other acts
      or omissions by MASS CRYP shall be deemed a modification of these Terms
      nor be legally binding, unless documented in physical writing, hand signed by
      the User and a duly appointed officer, employee, or agent of MASS CRYP..
      Updates to the Terms
      MASS CRYP reserves the right, at its sole discretion, to change, modify, add,
      or remove portions of the Terms at any time before or during the Token Sale
      by posting the amended Terms on the website. Any User will be deemed to
      have accepted such changes by purchasing MASS. The Terms may not be
      otherwise amended except in a signed writing executed by both the User and
      MASS CRYP. For purposes of this agreement, "writing" does not include an
      e-mail message. If at any point the User does not agree to any portion of the
      then-current version of the Terms, the User should not purchase MASS.
      .
      Cooperation with Legal Authorities
      MASS CRYP will cooperate with all law enforcement enquiries, subpoenas,
      or requests provided they are fully supported and documented by the law in
      the relevant jurisdictions. In accord with one of the core principles of the
      MASS CRYP project — transparency — MASS CRYP will endeavor to
      publish any legal enquiries upon receipt.
  </span>
</p>