<ul class="sidebar-nav nav">
  <li [class]="routeHomeActive">
      <a  (click)="homeReload()" class="nopad" style="cursor:pointer"><span class="sidebar-icon"><i class="fa fa-home" aria-hidden="true"></i></span>Dashboard</a>
  </li>
  <!-- <li>[routerLink]="['/home']" 
      <a [routerLink]="['/transactions']"  data-scroll=""><span class="sidebar-icon"><i class="fa fa-file-o" aria-hidden="true"></i></span>Transactions</a>
  </li> -->
  <br>
  <li [class]="routeReferralActive">
      <a (click)="clickonReferral()" class="nopad referral"><span class="sidebar-icon"><i class="fa fa-arrows" aria-hidden="true"></i></span>Referral</a>
  </li>
  <br>
  <li [class]="routeSettingActive">
    <a  class="settingclass nopad"  type="button"  data-toggle="collapse" data-target="#demo">
        <span class="sidebar-icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
        Setting
    </a>
    <div id="demo" class="collapse {{routeSettingin}}">
        <ul class="collapsenavsetting">
            <li [class]="routeKycActive">
                <a (click)="checkKYC()" class="nopad kyc asetting"><i class="fa fa-arrows" aria-hidden="true"></i> KYC</a>
            </li>
            <li [class]="routeAddreferralActive">
                <a [routerLink]="['/addreferral']" class="asetting"><i class="fa fa-address-card-o" aria-hidden="true"></i> Address</a>
            </li>
            <li [class]="routeMasswalletActive">
                <a (click)="masswalllet()" class="nopad asetting" style="cursor:pointer;"><i class="fa fa-credit-card" aria-hidden="true"></i> MASS Wallet</a>                
            </li>
        </ul>
    </div>
  </li>
  <br>
  <li>
      <a (click)="doLogout(template)" class="logoutlink" data-scroll=""><span class="sidebar-icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>Logout</a>
  </li>
</ul>
<ng-template #template>
  <div class="modal-body text-center">
        <p>Are you sure to logout?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>