@import '~assets/static/css/w3css.css';
p.earned {
    position: relative;
    right: 0;
    float: right;
    word-wrap: break-word;
}

.row.rowreferral {
    margin-top: 3%;
}
img.loadingimgdonereferral {
    width: 15px;
    margin: 0.5%;
}

button.btnreferral {
    width: 50%;
    text-align: center;
}

img.loadingimgdone {
    width: 15px;
    margin: 0.5%;
}
.row.rowreferralotp {
    margin-top: 10%;
}

img.yesreferral {
    width: 25%;
    padding: 0.5%;
    margin-top: 5%;
}


img.social {
    cursor: pointer;
}


/* Referral Mobile View */
@media(min-width:768px){
    .input-group-btn {
        position: relative;
        /* font-size: 0; */
        font-size: inherit;
        white-space: nowrap;
    }
}
@media(max-width:767px){
    /* for referral copy btn */
    .input-group-btn {
        position: relative;
        /* font-size: 0; */
        font-size: inherit;
        white-space: nowrap;
    }
    /* referral container */
    div.container-fluid {
        padding-right: 2.5%;
        padding-left: 1px;
    }

    /* referral withdraw btn */
    .card-body button {
        float: right;
        right: 0;
    }
    /* referral withdraw card */
    .card {
        padding-bottom: 20%;
        padding-left: 1%;
        padding-right: 1%;
    }
}