<app-navbar></app-navbar>
<ngx-loading [show]="ngxloading"></ngx-loading>
<section id="main-sec">  
  <div class="container-fluid" id="main-container">
      <div class="hidden-xs">
          <div id="sidebar-wrapper">
              <nav id="sidenav" #sidenav>
                  <app-sidemenu></app-sidemenu>
              </nav>
          </div>
      </div> 
      <div class="col-sm-9 col-md-10 pull-right nopad">
        <div id="topbar">
          
          <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">&nbsp;</div>
                <div class="col-sm-2 col-sm-offset-2 col-md-2 col-lg-2 col-xs-12">
                    <label for="refid">Your Referral ID Is:</label>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5  col-xs-12">
                    <div class="form-group">
                      <input type="text" class="form-control" id="refid" placeholder="Enter referral id"  #referrid  readonly="readonly"  value="{{referridvalue}}">
                    </div>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1 col-xs-6 text-center">
                    <button class="btn  btn-primary" id="copyBtn" [ngxClipboard]="referrid" (click)="copytext2(referrid)">Copy
                      </button>
                </div>
              </div>
          </div>
 
          <div class="container-fluid">
              <div class="row">
                <div class="col-sm-2 col-sm-offset-2 col-md-2 col-lg-2 col-xs-12">
                    <label for="refid">Referral Address:</label>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5  col-xs-12">
                    <div class="form-group">
                      <input type="text" class="form-control" id="refid" placeholder="Enter referral address" #referraladdress  readonly="readonly" value="{{referraladdressvalue}}">
                    </div>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1 col-xs-6 text-center">
                    <button class="btn btn-primary" id="copyBtn" [ngxClipboard]="referraladdress" (click)="copytext(referraladdress)">Copy
                      </button>
                </div>
              </div>

              <div class="row">
                  <div class="col-sm-4 col-sm-offset-4 col-md-4 col-lg-4 col-xs-12 text-center">
                      <!-- <img src="assets/img/social/facebook.png" ceiboShare [facebook]="{u: referraladdressvalue}" class="social fb">&nbsp;&nbsp;
                      <img src="assets/img/social/twitter.png" ceiboShare [twitter]="{url:referraladdressvalue, text:'Sharing referral address', hashtags:'Masscryp, ICO, Masscryptoken, ICO Token'}" class="social tw">&nbsp;&nbsp;
                      <img src="assets/img/social/linkedin.png" ceiboShare  [linkedIn]="{url:referraladdressvalue}" class="social ln">&nbsp;&nbsp;
                      <img src="assets/img/social/telegram.png" ceiboShare  [telegram]="{url:referraladdressvalue,text:'Sharing referral address'}" class="social tl">&nbsp;&nbsp;
                      <img src="assets/img/social/telegram.png" class="social tl">&nbsp;&nbsp;                      
                      <img src="assets/img/social/google-plus.png" ceiboShare [googlePlus]="{url: referraladdressvalue}" class="social gl">&nbsp;&nbsp; -->

                      <img src="assets/img/social/facebook.png"  class="hint--bottom" aria-label="Thank you!" (click)="socialshare('fb')" class="social fb">&nbsp;&nbsp;
                      <img src="assets/img/social/twitter.png" data-toggle="tooltip" title="Share referral address with twitter" (click)="socialshare('tw')" class="social tw">&nbsp;&nbsp;
                      <img src="assets/img/social/linkedin.png" data-toggle="tooltip" title="Share referral address with linkedin" (click)="socialshare('ln')" class="social ln">&nbsp;&nbsp;
                      <img src="assets/img/social/telegram.png" data-toggle="tooltip" title="Share referral address with telegram"  (click)="socialshare('tl')" class="social tl">&nbsp;&nbsp;                   
                      <img src="assets/img/social/google-plus.png" data-toggle="tooltip" title="Share referral address with google" (click)="socialshare('gl')" class="social gl">&nbsp;&nbsp;
                      
                      <!-- <share-button [theme]="'modern-dark'"
                      [button]="'facebook'"
                      [showName]="true"
                      [showCount]="true"
                      [size]="-1"
                      [url]="'http://twitter.com'"
                     ></share-button> -->
                  </div>
              </div>

          </div>
          <hr>
          
          <!-- <button data-toggle="collapse" data-target="#demo">Collapsible</button>
          
          <div id="demo" class="collapse">
          Lorem ipsum dolor text....
          </div> -->

          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-xs-12">
                  <div class="alert alert-success text-center">
                      <strong>Earned referral withdrawn is enabled now!</strong><br>
                      Minimum BTC amount for withdrawal: 0.002 BTC <br>
                      Minimum ETH amount for withdrawal: 0.01 ETH
                  </div>
                  
              </div>
              <div class="col-sm-6 col-md-6 col-xs-12">
                  
                  <div class="card">
                    <!-- <img class="card-img-top" src="assets/img/tb-logo.png" alt="Card image cap"> -->
                    <div class="card-body">
                      <h4 class="card-title"><i class="fa fa-btc" aria-hidden="true"></i> BTC </h4>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Earned :<p class="earned">{{cardbtcearned}}</p></li>
                        <li class="list-group-item">Withdrawn :<p class="earned">{{cardbtcwithdrawn}}</p></li>
                        <li class="list-group-item">Pending :<p class="earned">{{cardbtcpending}}</p></li>
                      </ul>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <button (click)="open_btc_modal(btcmodal)" class="btn btn-primary" [disabled]="btcbtnDisabled">
                        Withdraw</button>
                    </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-6 col-xs-12">
                  
                  <div class="card">
                    <!-- <img class="card-img-top" src="assets/img/tb-logo.png" alt="Card image cap"> -->
                    <div class="card-body">
                      <h4 class="card-title"><img class="ethereum" src="assets/img/ethereum.png"> ETH </h4>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Earned :<p class="earned">{{cardethearned}}</p></li>
                        <li class="list-group-item">Withdrawn :<p class="earned">{{cardethwithdrawn}}</p></li>
                        <li class="list-group-item">Pending :<p class="earned">{{cardethpending}}</p></li>
                      </ul>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <button  (click)="open_eth_modal(ethmodal)" class="btn btn-primary" [disabled]="ethbtnDisabled">
                        Withdraw
                      </button>
                      <!-- <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                      <span class="sr-only">Loading...</span> -->
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <br>
          <div class="panel-group" #panelScroll>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1" (click)="toscroll()"><b>Referral Earned Amounts</b></a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div style="overflow-x:auto;">
                    <div class="table-responsive">          
                        <table class="table referraldetail">
                          <thead>
                            <tr>
                              <th>Sr No.</th>
                              <th>Name</th>
                              <th>Degree</th>
                              <th>Earned BTC</th>
                              <th>Earned ETH</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="referral_details_list_alert == true">
                            <tr *ngFor="let r of referral_details_list">
                              <td>{{r.srno}}</td>
                              <td>{{r.name}}</td>
                              <td>{{r.degree}}</td>
                              <td>{{r.amount_in_btc}}</td>
                              <td>{{r.amount_in_eth}}</td>
                            </tr>
                          </tbody>
                          <tbody *ngIf="referral_details_list_alert == false">
                            <tr>
                              <td colspan="5">
                                <div class="alert alert-danger">
                                    <strong>No Records!</strong> There is no detail in referral earned amounts.
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
 
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2" (click)="toscroll()"><b>Network List</b></a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="table-responsive">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Sr No.</th>
                              <th>Name</th>
                              <th>Degree</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="child_details_alert == true">
                            <tr *ngFor="let c of child_details">
                              <td>{{c.srno}}</td>
                              <td><p class="namestd">{{c.name}}</p></td>
                              <td>{{c.degree}}</td> 
                            </tr>
                          </tbody>
                          <tbody *ngIf="child_details_alert == false">
                            <tr>
                              <td colspan="5">
                                <div class="alert alert-danger">
                                    <strong>No Records!</strong> There is no detail in network list.
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
              </div>

            </div>

          </div>

          <!-- <hr>
          <div class="container-fluid">
              <div class="col-sm-12"> <b>Referral Detail List</b></div>
              <div class="col-sm-12">
                  <div class="table-responsive">          
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Sr No.</th>
                            <th>Name</th>
                            <th>Degree</th>
                            <th>Earned BTC</th>
                            <th>Earned ETH</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="referral_details_list_alert == true">
                          <tr>
                            <td>1</td>
                            <td>Anna</td>
                            <td>Pitt</td>
                            <td>35</td>
                            <td>New York</td>
                          </tr>
                        </tbody>
                        <tbody *ngIf="referral_details_list_alert == false">
                          <tr>
                            <td colspan="5">
                              <div class="alert alert-danger">
                                  <strong>No Records!</strong> There is no detail in referral list.
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>
          </div>

          <hr>
          <div class="container-fluid">
              <div class="col-sm-12"> <b>Child Detail List</b></div>
              <div class="col-sm-12">
                  <div class="table-responsive">          
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Sr No.</th>
                            <th>Name</th>
                            <th>Degree</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="child_details_alert == true">
                          <tr>
                            <td>1</td>
                            <td>Anna</td>
                            <td>Pitt</td>
                          </tr>
                        </tbody>
                        <tbody *ngIf="child_details_alert == false">
                          <tr>
                            <td colspan="5">
                              <div class="alert alert-danger">
                                  <strong>No Records!</strong> There is no detail in child list.
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>
          </div> -->


          <!-- Modal BTC -->
          <ng-template #btcmodal>
            <div class="modal-header">
              <button type="button" class="close pull-right" aria-label="Close" (click)="hideme()">
                  <span aria-hidden="true">&times;</span>
              </button>
              <h3 id="myModalLabel" class="noMarg text-left">
                      <span class="pull-left padRightOnly" style="font-size:28px;"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                  <span id="modal-header-content">Withdraw BTC</span>
              </h3>
            </div>
            <div class="modal-body customModalHeight" id="normalModalBody">
              <div class="tab-content">

                <div class="tab-pane fade in active" *ngIf="btcwithdrawntab == 1">
                  <div class="container-fluid">
                      <div class="col-sm-12">
                          <div class="card">
                              <!-- <img class="card-img-top" src="assets/img/tb-logo.png" alt="Card image cap"> -->
                              <div class="card-body">
                                <!-- <h4 class="card-title"><i class="fa fa-btc" aria-hidden="true"></i> ETH </h4> -->
                                <div class="row rowreferral">    
                                  <div class="col-sm-5">
                                      <label for="pendingamntBTC">Pending Amount:</label>
                                  </div>
                                  <div class="col-sm-7">
                                      <input type="text" class="form-control" id="pendingamntBTC" placeholder="Enter pending amount" #pendingamount  readonly="readonly" value="{{modalbtcpending_amount}}">
                                  </div>
                                </div>
                                
                                <div class="row rowreferral">
                                  <div class="col-sm-5">
                                      <label for="withdrawnaddrsBTC">Withdrawn Address:</label>
                                  </div>
                                  <div class="col-sm-7">
                                      <input type="text" class="form-control" id="withdrawnaddrsBTC" placeholder="Enter withdrawn address" #withdrawnaddress  readonly="readonly" value="{{modalbtcwithdraw_address}}">
                                  </div>
                                </div>

                                <div class="row rowreferral">
                                  <div class="col-sm-5">
                                      <label for="bitcoinminBTC">Bitcoin Mining Fee:</label>
                                  </div>
                                  <div class="col-sm-7">
                                      <input type="text" class="form-control" id="bitcoinminBTC" placeholder="Enter bitcoin mining fee" #bitcoinminingfee  readonly="readonly" value="{{modalbtcfee}}">
                                  </div>
                                </div>

                                <div class="row rowreferral">
                                  <div class="col-sm-5">
                                      <label for="withdrawnamntBTC">Withdrawn Amount:</label>
                                  </div>
                                  <div class="col-sm-7">
                                      <input type="text" class="form-control" id="withdrawnamntBTC" placeholder="Enter withdrawn amount" #withdrawnamount  readonly="readonly" value="{{modalbtcamount_to_be_paid}}">
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="container-fluid">
                      <div class="col-sm-12 col-sm-offset-3 text-center">
                          <br>
                          <button type="button" class="btn btn-primary btn-block btnreferral" (click)="sendBTC()">
                              Send&nbsp;  <img src="assets/img/loading.gif" *ngIf="loadingimage" class="loadingimgdone">
                          </button>
                      </div>
                  </div>              
                </div>

                <div class="tab-pane fade in active" *ngIf="btcwithdrawntab == 2">
                  <div class="container-fluid">
                    <div class="col-sm-12">
                      <div class="card">
                          <!-- <img class="card-img-top" src="assets/img/tb-logo.png" alt="Card image cap"> -->
                          <div class="card-body">
                            <h5 class="card-title"><i class="fa fa-btc" aria-hidden="true"></i> Please enter OTP sent at mail to confirm transaction </h5>
                            
                            <div class="row rowreferralotp">    
                                <div class="col-sm-5">
                                    <label for="otpBTC">Enter OTP:</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="otpBTC" placeholder="Enter otp"  [(ngModel)]="otpBTC" required="required" value="">
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="container-fluid">
                      <div class="col-sm-12 col-sm-offset-3 text-center">
                          <br>
                          <button type="button" class="btn btn-primary btn-block btnreferral" (click)="confirmBTC()">
                              Confirm&nbsp;  <img src="assets/img/loading.gif" *ngIf="loadingimage" class="loadingimgdone">
                          </button>
                      </div>
                  </div>
                </div>

              </div>
            </div>
          </ng-template>
          <!-- Modal BTC END -->
          <!-- Modal ETH -->
          <ng-template #ethmodal>
              <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="hideme()">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h3 id="myModalLabel" class="noMarg text-left">
                          <span class="pull-left padRightOnly" style="font-size:28px;"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                      <span id="modal-header-content">Withdraw ETH</span>
                  </h3>
                </div>
                <div class="modal-body customModalHeight" id="normalModalBody">
                  <div class="tab-content">
    
                    <div class="tab-pane fade in active" *ngIf="ethwithdrawntab == 1">
                      <div class="container-fluid">
                          <div class="col-sm-12">
                              <div class="card">
                                  <!-- <img class="card-img-top" src="assets/img/tb-logo.png" alt="Card image cap"> -->
                                  <div class="card-body">
                                    <!-- <h4 class="card-title"><i class="fa fa-btc" aria-hidden="true"></i> ETH </h4> -->
                                    <div class="row rowreferral">    
                                      <div class="col-sm-5">
                                          <label for="pendingamntETH">Pending Amount:</label>
                                      </div>
                                      <div class="col-sm-7">
                                          <input type="text" class="form-control" id="pendingamntETH" placeholder="Enter pending amount" #pendingamount  readonly="readonly" value="{{modalethpending_amount}}">
                                      </div>
                                    </div>
                                    
                                    <div class="row rowreferral">
                                      <div class="col-sm-5">
                                          <label for="withdrawnaddrsETH">Withdrawn Address:</label>
                                      </div>
                                      <div class="col-sm-7">
                                          <input type="text" class="form-control" id="withdrawnaddrsETH" placeholder="Enter withdrawn address" #withdrawnaddress  readonly="readonly" value="{{modalethwithdraw_address}}">
                                      </div>
                                    </div>
    
                                    <div class="row rowreferral">
                                      <div class="col-sm-5">
                                          <label for="etherminETH">Ether Mining Fee:</label>
                                      </div>
                                      <div class="col-sm-7">
                                          <input type="text" class="form-control" id="etherminETH" placeholder="Enter bitcoin mining fee" #bitcoinminingfee  readonly="readonly" value="{{modalethfee}}">
                                      </div>
                                    </div>
    
                                    <div class="row rowreferral">
                                      <div class="col-sm-5">
                                          <label for="withdrawnamntETH">Withdrawn Amount:</label>
                                      </div>
                                      <div class="col-sm-7">
                                          <input type="text" class="form-control" id="withdrawnamntETH" placeholder="Enter withdrawn amount" #withdrawnamount  readonly="readonly" value="{{modalethamount_to_be_paid}}">
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="container-fluid">
                          <div class="col-sm-12 col-sm-offset-3 text-center">
                              <br>
                              <button type="button" class="btn btn-primary btn-block btnreferral" (click)="sendETH()">
                                  Send&nbsp;  <img src="assets/img/loading.gif" *ngIf="loadingimage" class="loadingimgdone">
                              </button>
                          </div>
                      </div>              
                    </div>
    
                    <div class="tab-pane fade in active" *ngIf="ethwithdrawntab == 2">
                      <div class="container-fluid">
                        <div class="col-sm-12">
                          <div class="card">
                              <!-- <img class="card-img-top" src="assets/img/tb-logo.png" alt="Card image cap"> -->
                              <div class="card-body">
                                <h5 class="card-title"><img class="ethereum" src="assets/img/ethereum.png"> Please enter OTP sent at mail to confirm transaction </h5>
                                
                                <div class="row rowreferralotp">    
                                    <div class="col-sm-5">
                                        <label for="otpETH">Enter OTP:</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" id="otpETH" placeholder="Enter otp"  [(ngModel)]="otpETH" required="required" value="">
                                    </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="container-fluid">
                          <div class="col-sm-12 col-sm-offset-3 text-center">
                              <br>
                              <button type="button" class="btn btn-primary btn-block btnreferral" (click)="confirmETH()">
                                  Confirm&nbsp;  <img src="assets/img/loading.gif" *ngIf="loadingimage" class="loadingimgdone">
                              </button>
                          </div>
                      </div>
                    </div>
    
                  </div>
                </div>
          </ng-template>

          <!-- Success Modal -->
          <ng-template #successmodal>
              <!-- <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="hideme()">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h6 id="myModalLabel" class="noMarg text-left">
                          <span class="pull-left padRightOnly" style="font-size:28px;"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                      <span id="modal-header-content">Withdraw Completed</span>
                  </h6>
                </div> -->
                <div class="modal-body customModalHeight" id="normalModalBody">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="donefinally()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                  <div class="tab-content text-center">
    
                    <img src="assets/img/yes.png" class="yesreferral">
                    <div class="tab-pane fade in active">
                      <div class="container-fluid">
                        <div class="col-sm-12">
                          <div class="card">
                              <!-- <img class="card-img-top" src="assets/img/tb-logo.png" alt="Card image cap"> -->
                              <!-- <div class="card-body" *ngIf="successcap == 'btc'">
                                <h5 class="card-title">
                                    
                                    We have successfully deposited earned bitcoins at provided address.<br>
                                    Your <i class="fa fa-btc" aria-hidden="true" ></i>  transaction id is <a href="{{bitcoinurl}}/{{successMessage}}">{{successMessage}}</a>.
                                </h5>
                              </div>
                              <div class="card-body" *ngIf="successcap == 'eth'">
                                  <h5 class="card-title">
                                    
                                    We have successfully deposited earned bitcoins at provided address.<br>
                                    Your <img class="ethereum" src="assets/img/ethereum.png">  transaction id is <a href="{{etherurl}}/{{successMessage}}">{{successMessage}}</a>.
                                  </h5>
                              </div> -->
                              <div class="card-body">
                                <h3>
                                    Your referral earned funds withdrawal request is accepted successfully.
                                </h3>
                                <p class="card-title" style="margin-top:5%">
                                    Please wait while we confirm your transaction in 24 - 48 hours. We have also sent you a mail at registered ID regarding this request and will confirm over mail with transaction ID as withdrawal is completed.
                                </p>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="container-fluid">
                          <div class="col-sm-12 col-sm-offset-3 text-center">
                              <br>
                              <button type="button" class="btn btn-primary btn-block btnreferral" (click)="donefinally()">
                                  Close
                              </button>
                          </div>
                      </div>
                    </div>
    
                  </div>
                </div>
          </ng-template>
          <!-- Modal ETH END -->
        </div><!--topbar-->
      </div>
  </div>
</section> 