<app-navbar></app-navbar>
<section id="main-sec">  
  <div class="container-fluid" id="main-container">
      <div class="hidden-xs">
          <div id="sidebar-wrapper">
              <nav id="sidenav" #sidenav>
                  <app-sidemenu></app-sidemenu>
              </nav>
          </div>
      </div> 
      <div class="col-sm-9 col-md-10 pull-right nopad">
          Page workds
          <form [formGroup]="form" (ngSubmit)="signup_v2()">
            <div class="kycform">
              <div class="form-group">
                  <label for="panUpload">Upload Proof Of Identity</label>
                  <input type="file" name="pan_card" class="form-control-file" id="pan"
                         aria-describedby="fileHelp" accept=".png, .jpg, .jpeg, application/pdf" required=""  (change)="onFileChange1($event)" #fileInput1><br>
                  <small id="fileHelp" class="form-text text-muted">
                      Supported File Format: JPG, PNG, PDF.
                  </small>
              </div>
              <div class="form-group">
                  <strong>Upload Proof Of Address</strong>
                  <small class="text-muted">&nbsp;&nbsp; (Passport, Driving License, Aadhar Card)</small>
                  <input type="file" name="id_proof" class="form-control-file" id="idproof"  (change)="onFileChange2($event)" #fileInput2
                         aria-describedby="fileHelp" accept=".png, .jpg, .jpeg, application/pdf" required="" multiple><br>
                  <small id="fileHelp" class="form-text text-muted">
                      Supported File Format: JPG, PNG, PDF.
                  </small>
              </div>

              <div class="form-group submitbtn">
                  <button type="submit" class="btn btn-primary col-sm-offset-4 custBtnAnchor2">
                      <strong style="letter-spacing: 1px;">Update</strong>
                      &nbsp;  <img src="assets/img/loading.gif" *ngIf="loadingimage" class="loadingimglogin">
                  </button><br>
              </div>
              <!-- <div class="skipdiv text-center"><a (click)="skipfornow()"  class="skip">Skip for now</a> </div> -->
            </div>
          </form>
      </div>
    </div>
</section>