
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a class="navbar-brand" routerLink="">
                    <img src="assets/img/masscryp.png" class="img-responsive tblogo" alt="tokenbazaar">
                </a>
                <p class="titlemasscryp">Masscryp ICO</p>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li class="active"><a href="#">Wallet <span class="sr-only">(current)</span></a></li>-->
                    <!--<li><a href="#">Charts</a></li>-->
                    <!--<li class="#"><a href="#">Stats</a></li>-->
                    <!--<li><a href="#">Markets</a></li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
<!-- <toaster-container></toaster-container> -->
<section id="loginForm" class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3 form_wrap clearfix">
                <div class="col-sm-12 form_head">
                    <h3 style="margin-bottom: 0px;">
                        Enter OTP
                    </h3>
                    <hr>
                </div>
                <div class="col-sm-12">
                                            <form action="" id="registerForm">
                    <div class="col-sm-12 text-center" id="password_not_entered" role="alert"
                         style="display: block">
                       <span class="text-center text-danger">{{errmsg?errmsg:""}}</span>
                    </div>
                    <div class="col-sm-12 text-center" id="password_not_entered" role="alert"
                    style="display: block">
                        <span class="text-center text-success">{{sucmsg?sucmsg:""}}</span>
                    </div>


                    <div class="form-group">
                                                       <label for="regPassword">Enter OTP</label>
                        <input type="password" class="form-control custInput" id="password"
                               placeholder="Enter OTP.." name="otpno" [(ngModel)]="otpno" required></div>
                    <div class="form-group">
                       <!-- {#                                <label for="regPassword">Confirm Password</label>#}
                        <input type="password" class="form-control custInput" id="confirm_password"
                               placeholder="Confirm Password.." required></div>
                    <div class="form-group">
                        {#                                <label for="regPhone">Enter Mobile Number</label>#}
                        <input type="tel" class="form-control custInput" id="mobile"
                               placeholder="Enter Mobile Number.." required></div>
                    <div class="checkbox">
                        <label> -->
                            <!-- <input type="checkbox" id="agree_terms" name="agree_terms" [(ngModel)]="agreed">
                            <small>I have read and agree to the <a href="/render_terms_and_conditions/" target="_blank">Terms of Service</a></small> -->
                        
                    </div>
                    <div class="col-sm-6 col-xs-8 col-sm-offset-3 col-xs-offset-2">
                        <button (click)="signup_new_user()" value="CONTINUE" id="regFormSubmit"
                                class="btn btn-primary btn-block custBtnAnchor" accesskey="">
                            <strong style="letter-spacing: 1px;">NEXT</strong>
                            &nbsp;  <img src="assets/img/loading.gif" *ngIf="loadingimage" class="loadingimglogin">
                        </button>
                    </div>

                                      </form>
                    <form method="get" action="/home/" id="home">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>